.card__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem;
  gap: 1rem;
  .card__product {
    padding: 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: box-shadow 150ms;
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    h3 {
      padding-top: 1rem;
      color: #e63e6d;
      width: 100%;
      text-align: center;
      border-top: 1px solid #e63e6d;
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
    }
    p {
      color: #b42b51;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
    }
    button {

      background-color: #b42b51;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      transition: background 150ms, color 150ms;
      &:hover {
        background-color: transparent;
        outline: 1px solid #b42b51;
        color: #e63e6d;
        cursor: pointer;
      }
    }
    svg {
      font-size: 1.2rem;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
      cursor: pointer;
    }
  }
}
